html {
  font-size: 1.375em; /* 22px */
  line-height: 1.185em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  background-color: #6699CC;
}

label {
  display: block;
}


/* ===== LAYOUT STYLES ====== */
/* ===== STATE STYLES ======= */

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
  

main {
  max-width: 600px;
  margin: 0 auto;  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 1.5);
  border: none;
  background-color: #89CFF0;
}
  
h1  {
  font-weight: 700;
  font-size: 1.9rem;
  color: #222;
  text-align: center;
  padding: 30px;
  text-shadow: 5px 5px #558ABB;
}

h2  { 
  font-size: 1.5em;
  color: #222;
  text-align: center;
  padding: 10px;
} 


p {
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
  color: #555;
  margin-top: 30px;
}

input[type="email"] {
  width: 90%;
  padding: 13px;
  background: #f0f0f0;
  border-radius: 8px;
  border: none;
  box-shadow: 10px, 10px;
}

