@media (min-width: 760px) {

body {
  font-family: "Sigmar", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  font-style: normal;
  line-height: 1.182em;  
}

.form-container {
  display: grid;
  place-items: center;
  min-height: 80vh;
}

input[type="email"], input[type="text"], input[type="tel"] {
  width: 100%;
  padding: 13px;
  background: #f0f0f0;
  border-radius: 8px;
  float: right;
  
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 5px;
}

}



html {
  font-size: 1.375em; /* 22px */
  line-height: 1.185em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  background-color: #6699CC;
}

label {
  display: block;
}

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 900px;
  margin: 0 auto;  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 1.5);
  border: none;
  background-color: #89CFF0;
}
  
h1  {
  font-weight: 700;
  font-size: 1.9rem;
  color: #222;
  text-align: center;
  line-height: 36px;
  padding: 30px;
  text-shadow: 5px 5px #558ABB;
}

h2  { 
  font-size: 1.5em;
  color: #222;
  text-align: center;
  line-height: 36px;
  padding: 10px;
} 


p {
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
  color: #555;
  margin-top: 30px;
}

input[type="email"], input[type="text"], input[type="tel"] {
  width: 80%;
  padding: 13px;
  background: #f0f0f0;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(#666, #444);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

